.*
*.sqlite
alembic.ini
build.sh
buildspec.yml
docker-compose.yml
Dockerfile
mkdocs.yml
pyproject.toml
requirements-dev.txt
run_checks.sh
scool_initdb.json
**/http-client.private.env.json

.*/
**/__pycache__/
alembic/
docker/
docs/
temp/
tests/
