# Environment, see `scale_api.settings.VALID_ENVIRONMENTS` for a list of
# valid values.
SCALE_ENV=local

# SQLAlchemy Database URL (REQUIRED)
# POSTGRES database connection information used by the Docker image
#POSTGRES_USER=scale_api
#POSTGRES_PASSWORD=change_me
#POSTGRES_HOST=localhost
#POSTGRES_DB=swa
#SCALE_DB_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/${POSTGRES_DB}

# Sqlite is used by default for the `local` environment. The sqlite file will
# created in the root project directory. To specify another location uncomment
# setting below and provide the desired path:
#SCALE_DB_URL=sqlite:///c:/projects/scale_api/scale_db.sqlite?check_same_thread=False

# Turns on debug mode and sqlalchemy echo, defaults to False
SCALE_DEBUG_DB=False

# Turns on debug mode for FastAPI and uvicorn
SCALE_DEBUG_APP=False

# Used to stored signed cookies using Starlette Session Middleware
# If not set, a random secret will be generated for use.
SCALE_SECRET_KEY=change_me

# A JSON list of allowed origins for CORS.
SCALE_BACKEND_CORS_ORIGINS=["http://localhost", "http://localhost:8080"]

# Number of threads to use for the asyncio executor, default is 10
SCALE_THREAD_POOL_WORKERS=10
