alembic==1.11.1
asyncpg==0.28.0
authlib==1.2.1
fastapi==0.100.0
httpx==0.24.1
passlib[bcrypt]==1.7.4
pydantic-settings==2.0.1
pydantic[email]==2.0.2
python-dotenv==1.0.0
python-multipart==0.0.6
sqlalchemy[asyncio]==2.0.18
uvicorn[standard]==0.22.0
