alembic==1.13.0
async-lru==2.0.4
asyncpg==0.29.0
fastapi==0.105.0
httpx==0.25.2
joserfc==0.9.0
passlib[bcrypt]==1.7.4
pydantic==2.5.2
pydantic-settings==2.1.0
python-dotenv==1.0.0
python-multipart==0.0.6
shortuuid==1.0.11
sqlalchemy[asyncio]==2.0.23
uvicorn[standard]==0.24.0.post1
