sqlalchemy[postgresql]==1.4.28
alembic==1.7.5

cryptography==36.0.1
passlib[bcrypt]==1.7.4
authlib==0.15.5
itsdangerous==2.0.1

pydantic[email, dotenv]==1.8.2
python-multipart==0.0.5
jinja2==3.0.3

fastapi==0.70.1
starlette==0.16.0
uvicorn[standard]==0.16.0
gunicorn==20.1.0

httpx==0.21.1
