{% extends "base.html" %}

{% block title %}SCALE :: Home{% endblock %}

{% block nav %}
{% include "snippets/nav.html" %}
{% endblock %}

{% block content %}
<div class="container">
<main role="main" class="pb-3">


{% if request.session.au %}

<div class="row">
    <div class="col-md-6 col-md-offset-3 mt-5 text-muted">
        <h1>Welcome</h1>
    </div>
    <div>
        <p>
            {% if app_config.is_production %}
                <a href="/question-editor/">Click here to view the question editor</a>
            {% elif app_config.is_local %}
                <a href="http://localhost:8080/">Click here to view the question editor</a>
            {% else %}
                <a href="/{{ app_config.ENV }}/question-editor/">Click here to view the question editor</a>
            {% endif %}
        </p>
    </div>
</div>

{% else %}

<div class="row">
    <div class="col-md-6 col-md-offset-3 mt-5 text-muted">
        <section>
            <h1>Guest/Demo Account</h1>
            <form id="account" method="post" action="{{ url_for('login_post') }}">
                {% if request.state.login_error %}
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                    {{ request.state.login_error }}
                </div>
                {% endif %}
                <div class="form-group">
                    <label for="Input_Email">Username (Email)</label>
                    <input class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Input_Email" name="username" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="Input_Password">Password</label>
                    <input class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password" name="password" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group" style="padding: 10px 0 10px;">
                    <button type="submit" class="btn btn-secondary">Log in</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            </form>
        </section>
    </div>
</div>


{% endif %}

</main>
</div>
{% endblock %}
