{% extends "base.html" %}

{% block title %}SCALE :: Reset Password{% endblock %}

{% block nav %}
{% include "snippets/nav.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3 mt-5 text-muted">
        <section>
            <form id="account" method="post" action="reset-password">
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true">
                    <ul>
                        <li style="display:none"></li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="Input_Email">Username (Email)</label>
                    <input class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Input_Email" name="username" value="" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Email" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="Input_Password_Old">Old Password</label>
                    <input class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password_Old" name="old_password" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="Input_Password_New1">New Password</label>
                    <input class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password_New1" name="new_password1" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <label for="Input_Password_New2">New Password (Confirm)</label>
                    <input class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Input_Password_New2" name="new_password2" />
                    <span class="text-danger field-validation-valid" data-valmsg-for="Input.Password" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group" style="padding: 10px 0px 10px;">
                    <button type="submit" class="btn btn-secondary">Log in</button>
                </div>
                <input type="hidden" name="csrf_token" value="{{ csrf_token }}"/>
            </form>
        </section>
    </div>
</div>
{% endblock %}
