name: Build/Push/Deploy

on:
  workflow_run:
    workflows:
      - CI
    types:
      - completed
    branches:
      - main

env:
  REGISTRY: ghcr.io
  # image name must be lowercase, so we can't use `${{ github.repository }}` here
  # since it resolves to `OnRampToStem`
  IMAGE_NAME: onramptostem/scool_lti

jobs:
  push:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and Push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
      - uses: actions/delete-package-versions@v5
        with:
          package-name: scool_lti
          package-type: container
          min-versions-to-keep: 2
          delete-only-untagged-versions: true
